.map-header {
    display: flex;
    flex-direction: row;
}

.map-header-title {
    width: 100%;
    padding-top: 8px;
}

.map-button {
    padding: 8px 1px 8px 1px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.map-img {
    margin-top: 4px;
    width: 100%;
}